@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-bg;
}
.cont {
    @apply px-32;
}
.link {
    @apply px-10 tracking-widest relative;
}
.nav-line {
    width: 1px;
    transform: translateY(-50%);
}
.header {
    background: url(/bg.jpeg);
    background-size: cover;
}
.btn {
    @apply px-8 py-2 rounded-full bg-black text-sm text-white uppercase transition-all hover:bg-white hover:text-black;
}
.card {
    width: 30%;
}
